* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  

  .hidden {
    display: none;
  }
  
  .showButton {
    position: fixed;
    background-color: greenyellow;
    border-radius: 50%;
    padding: 0.25rem;
    right: -30px;
    bottom: 35px;
    font-size: 35px;
    color: grey;
    cursor: pointer;
    transform: translateX(-150px);
    animation: slideLeft 1s;
  }
  
  @keyframes slideLeft {
    0% {
      transform: translateX(-100px);
    }
    100% {
      transform: translateX(-150px);
    }
  }