.carousel-category {
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    width: 100vw;
  }
  
  .carousel-category img {
    height: 60vh;
    min-width: 33vw;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
    border: 0.1rem solid;
  }
  
  @media only screen and (max-width: 400px) {
    .carousel-img {
      min-width: 100%;
    }
  }
  